In [243]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

In [244]:
data = pd.read_csv('/content/Myocardial infarction complications.csv')

In [245]:
 data.tail()

,ID,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,IBS_NASL,GB,SIM_GIPERT,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
1695,1696,77.0,0,0.0,4.0,2.0,1.0,NaN,2.0,0.0,...,0,0,1,0,1,0,0,0,0,3
1696,1697,70.0,0,0.0,6.0,2.0,1.0,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,1
1697,1698,55.0,1,3.0,6.0,2.0,2.0,NaN,0.0,0.0,...,0,0,0,0,0,0,0,1,0,6
1698,1699,79.0,0,2.0,2.0,2.0,1.0,NaN,2.0,0.0,...,0,0,0,1,0,0,0,0,0,1
1699,1700,63.0,1,2.0,NaN,NaN,NaN,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,1

In [246]:
data.drop('ID', axis=1, inplace=True)

In [247]:
data

,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,IBS_NASL,GB,SIM_GIPERT,DLIT_AG,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
0,77.0,1,2.0,1.0,1.0,2.0,NaN,3.0,0.0,7.0,...,0,0,0,0,0,0,0,0,0,0
1,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,52.0,1,0.0,0.0,0.0,2.0,NaN,2.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
3,68.0,0,0.0,0.0,0.0,2.0,NaN,2.0,0.0,3.0,...,0,0,0,0,0,0,1,0,0,0
4,60.0,1,0.0,0.0,0.0,2.0,NaN,3.0,0.0,7.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,77.0,0,0.0,4.0,2.0,1.0,NaN,2.0,0.0,7.0,...,0,0,1,0,1,0,0,0,0,3
1696,70.0,0,0.0,6.0,2.0,1.0,NaN,2.0,0.0,7.0,...,0,0,0,0,0,0,0,0,0,1
1697,55.0,1,3.0,6.0,2.0,2.0,NaN,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,6
1698,79.0,0,2.0,2.0,2.0,1.0,NaN,2.0,0.0,7.0,...,0,0,0,1,0,0,0,0,0,1
1699,63.0,1,2.0,NaN,NaN,NaN,NaN,2.0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,1

In [248]:
print(data.index)

RangeIndex(start=0, stop=1700, step=1)

In [249]:
#x = data.loc[:,['SEX','nr_07', 'n_p_ecg_p_05', 'np_07', 'np_09', 'n_r_ecg_p_09',
  #     'fibr_ter_07', 'ritm_ecg_p_06', 'n_r_ecg_p_10', 'n_p_ecg_p_01',
  #     'nr_08']]

In [250]:
x = data.loc[:,['RAZRIV','D_AD_ORIT','S_AD_ORIT','K_SH_POST','np_10','L_BLOOD','ZSN_A','SEX','ZSN','n_r_ecg_p_06']]

In [251]:
x

,RAZRIV,D_AD_ORIT,S_AD_ORIT,K_SH_POST,np_10,L_BLOOD,ZSN_A,SEX,ZSN,n_r_ecg_p_06
0,0,100.0,180.0,0.0,0.0,8.0,0.0,1,0,0.0
1,0,90.0,120.0,0.0,0.0,7.8,0.0,1,0,0.0
2,0,100.0,180.0,0.0,0.0,10.8,0.0,1,0,0.0
3,0,70.0,120.0,0.0,0.0,NaN,1.0,0,1,0.0
4,0,90.0,160.0,0.0,0.0,8.3,0.0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...
1695,1,70.0,110.0,0.0,0.0,12.8,0.0,0,0,0.0
1696,0,0.0,50.0,1.0,0.0,NaN,0.0,0,0,0.0
1697,0,50.0,70.0,NaN,0.0,8.3,0.0,1,0,NaN
1698,0,70.0,110.0,0.0,0.0,7.5,NaN,0,0,0.0
1699,0,0.0,0.0,1.0,0.0,NaN,4.0,1,0,0.0

In [252]:
Y = data[['LET_IS']]

In [253]:
# identify columns with missing values
cols_with_missing = x.columns[x.isnull().any()]

# display columns with missing values
print(cols_with_missing)

Index(['D_AD_ORIT', 'S_AD_ORIT', 'K_SH_POST', 'np_10', 'L_BLOOD', 'ZSN_A',
       'n_r_ecg_p_06'],
      dtype='object')

In [254]:
# fill in missing values with mode for each column
for col in cols_with_missing:
    mode_value = x[col].mode()[0]
    x[col] = x[col].fillna(mode_value)

In [255]:
x

,RAZRIV,D_AD_ORIT,S_AD_ORIT,K_SH_POST,np_10,L_BLOOD,ZSN_A,SEX,ZSN,n_r_ecg_p_06
0,0,100.0,180.0,0.0,0.0,8.0,0.0,1,0,0.0
1,0,90.0,120.0,0.0,0.0,7.8,0.0,1,0,0.0
2,0,100.0,180.0,0.0,0.0,10.8,0.0,1,0,0.0
3,0,70.0,120.0,0.0,0.0,6.9,1.0,0,1,0.0
4,0,90.0,160.0,0.0,0.0,8.3,0.0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...
1695,1,70.0,110.0,0.0,0.0,12.8,0.0,0,0,0.0
1696,0,0.0,50.0,1.0,0.0,6.9,0.0,0,0,0.0
1697,0,50.0,70.0,0.0,0.0,8.3,0.0,1,0,0.0
1698,0,70.0,110.0,0.0,0.0,7.5,0.0,0,0,0.0
1699,0,0.0,0.0,1.0,0.0,6.9,4.0,1,0,0.0

In [256]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
import numpy as np

In [257]:
X_train,X_test,y_train,y_test = train_test_split(x,Y,test_size=0.2,random_state=50, stratify=Y)

In [258]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((1360, 10), (1360, 1), (340, 10), (340, 1))

Random Forest Classifier

In [259]:
# Initialize a Linear Regression model

from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import numpy as np

In [260]:
rf =  RandomForestClassifier()

In [261]:
from sklearn.model_selection import train_test_split, KFold, cross_val_score  # Import cross_val_score

In [262]:
# Initialize the KFold parameters


kfold = KFold(n_splits=5, shuffle=True, random_state=42)

In [263]:
# Use cross_val_score on the model and dataset
scores = cross_val_score(rf, x, Y, cv=kfold, scoring='accuracy')

In [264]:
print("R2 scores for each fold:", scores)
print("Mean R2 score across all folds:", scores.mean())
mean_rf_score = scores.mean()

R2 scores for each fold: [0.87352941 0.86470588 0.89705882 0.86470588 0.82941176]
Mean R2 score across all folds: 0.8658823529411764

*extrem gradient boost*

In [265]:
from xgboost import XGBClassifier

In [266]:
xgb = XGBClassifier()

In [267]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

In [268]:
# Use cross_val_score on the model and dataset
scores = cross_val_score(xgb, x, Y, cv=kfold, scoring='accuracy')

In [269]:
print("R2 scores for each fold:", scores)
print("Mean R2 score across all folds:", scores.mean())
mean_xgb_score = scores.mean()

R2 scores for each fold: [0.87647059 0.85588235 0.90588235 0.84705882 0.83235294]
Mean R2 score across all folds: 0.8635294117647059

K-Nearest Neighbour validation

In [270]:
from sklearn.neighbors import KNeighborsClassifier

In [271]:
knn = KNeighborsClassifier()

In [272]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

In [273]:
# Use cross_val_score on the model and dataset
scores = cross_val_score(knn, x, Y, cv=kfold, scoring='accuracy')

In [274]:
print("R2 scores for each fold:", scores)
print("Mean R2 score across all folds:", scores.mean())
mean_knn_score = scores.mean()

R2 scores for each fold: [0.86470588 0.83529412 0.88823529 0.87058824 0.79705882]
Mean R2 score across all folds: 0.8511764705882353

Decision Tree Classifier

In [275]:
from sklearn.tree import DecisionTreeClassifier

In [276]:
dc = DecisionTreeClassifier()

In [277]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

In [278]:
# Use cross_val_score on the model and dataset
scores = cross_val_score(dc, x, Y, cv=kfold, scoring='accuracy')

In [279]:
print("R2 scores for each fold:", scores)
print("Mean R2 score across all folds:", scores.mean())
mean_dc_score = scores.mean()

R2 scores for each fold: [0.83823529 0.82058824 0.85588235 0.79705882 0.76176471]
Mean R2 score across all folds: 0.8147058823529412

Support Vector Classifier

In [280]:
from sklearn.svm import SVC

In [281]:
svc = SVC()

In [282]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

In [283]:
# Use cross_val_score on the model and dataset
scores = cross_val_score(svc, x, Y, cv=kfold, scoring='accuracy')

In [284]:
print("R2 scores for each fold:", scores)
print("Mean R2 score across all folds:", scores.mean())
mean_svc_score = scores.mean()

R2 scores for each fold: [0.85882353 0.83235294 0.89117647 0.87647059 0.80294118]
Mean R2 score across all folds: 0.8523529411764705

Logistic regression

In [285]:
lr = LogisticRegression()

In [286]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

In [287]:
# Use cross_val_score on the model and dataset
scores = cross_val_score(lr, x, Y, cv=kfold, scoring='accuracy')

In [288]:
print("R2 scores for each fold:", scores)
print("Mean R2 score across all folds:", scores.mean())
mean_lr_score = scores.mean()

R2 scores for each fold: [0.87058824 0.82058824 0.88823529 0.86470588 0.80294118]
Mean R2 score across all folds: 0.8494117647058823

Stocastic gradient descent

In [289]:
from sklearn.linear_model import SGDClassifier

In [290]:
sgd =  SGDClassifier()

In [291]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

In [292]:
# Use cross_val_score on the model and dataset
scores = cross_val_score(sgd, x, Y, cv=kfold, scoring='accuracy')

In [293]:
print("R2 scores for each fold:", scores)
print("Mean R2 score across all folds:", scores.mean())
mean_sgd_score = scores.mean()

R2 scores for each fold: [0.85882353 0.84117647 0.89411765 0.85294118 0.80294118]
Mean R2 score across all folds: 0.85

Bernoulli Naive Bayes

In [294]:
from sklearn.naive_bayes import GaussianNB,BernoulliNB

In [295]:
nb = BernoulliNB()

In [296]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

In [297]:
# Use cross_val_score on the model and dataset
scores = cross_val_score(nb, x, Y, cv=kfold, scoring='accuracy')

In [298]:
print("R2 scores for each fold:", scores)
print("Mean R2 score across all folds:", scores.mean())
mean_nb_score = scores.mean()

R2 scores for each fold: [0.90882353 0.89117647 0.92941176 0.88823529 0.85294118]
Mean R2 score across all folds: 0.8941176470588236

Combining all Models

In [301]:
model_df = pd.DataFrame({'Model': ['Logistic Regression','Random Forest','Extreme Gradient Boost','K-Nearest Neighbour',
                                   'Decision Tree','BernoulliNB', 'Support Vector Classifier','Stochastic Gradient Descent'],
                        'Accuracy':[mean_rf_score,mean_xgb_score,mean_knn_score,mean_dc_score,mean_svc_score,mean_lr_score,mean_sgd_score,mean_nb_score]})

In [302]:
model_df.sort_values(['Accuracy'],ascending=False,ignore_index=True)

                         Model  Accuracy
0  Stochastic Gradient Descent  0.894118
1          Logistic Regression  0.865882
2                Random Forest  0.863529
3                Decision Tree  0.852353
4       Extreme Gradient Boost  0.851176
5    Support Vector Classifier  0.850000
6                  BernoulliNB  0.849412
7          K-Nearest Neighbour  0.814706